button
{
    width: 200px;
    height: 200px;
    background: black;
}

.contenedor
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}

h1
{
    text-align: center;
    font-family: 'Brush Script MT';
}